@charset "UTF-8";
* {
  box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
  outline: none !important;
  outline-style: none !important;
  -moz-outline-style: none !important;
  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

input,
select,
textarea {
  font-family: var(--ff);
}

p {
  margin: 0 0 16px;
}

img {
  line-height: 100%;
  max-width: 100%;
  display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: block;
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  display: block;
  margin: 16px 0;
  padding: 0;
}

b, strong {
  font-weight: 500;
}

i {
  font-style: italic;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 12px 0 12px;
  width: 100%;
}

table th {
  font-weight: bold;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.oh {
  overflow: hidden;
}

.ac {
  text-align: center !important;
}

.df {
  display: flex;
}

.dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.m0a {
  margin: 0 auto;
}

.mb24 {
  margin-bottom: 24px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/*!
* animate.css - https://animate.style/
* Version - 4.1.1
* Licensed under the MIT license - http://opensource.org/licenses/MIT
*
* Copyright (c) 2020 Animate.css
*/
:root {
  --animate-duration:1s;
  --animate-delay:1s;
  --animate-repeat:1;
}

.animate__animated {
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}

.animate__animated.animate__infinite {
  animation-iteration-count: infinite;
}

.animate__animated.animate__repeat-1 {
  animation-iteration-count: 1;
  animation-iteration-count: var(--animate-repeat);
}

.animate__animated.animate__repeat-2 {
  animation-iteration-count: 2;
  animation-iteration-count: calc(var(--animate-repeat) * 2);
}

.animate__animated.animate__repeat-3 {
  animation-iteration-count: 3;
  animation-iteration-count: calc(var(--animate-repeat) * 3);
}

.animate__animated.animate__delay-1s {
  animation-delay: 1s;
  animation-delay: var(--animate-delay);
}

.animate__animated.animate__delay-2s {
  animation-delay: 2s;
  animation-delay: calc(var(--animate-delay) * 2);
}

.animate__animated.animate__delay-3s {
  animation-delay: 3s;
  animation-delay: calc(var(--animate-delay) * 3);
}

.animate__animated.animate__delay-4s {
  animation-delay: 4s;
  animation-delay: calc(var(--animate-delay) * 4);
}

.animate__animated.animate__delay-5s {
  animation-delay: 5s;
  animation-delay: calc(var(--animate-delay) * 5);
}

.animate__animated.animate__faster {
  animation-duration: 0.5s;
  animation-duration: calc(var(--animate-duration) / 2);
}

.animate__animated.animate__fast {
  animation-duration: 0.8s;
  animation-duration: calc(var(--animate-duration) * 0.8);
}

.animate__animated.animate__slow {
  animation-duration: 2s;
  animation-duration: calc(var(--animate-duration) * 2);
}

.animate__animated.animate__slower {
  animation-duration: 3s;
  animation-duration: calc(var(--animate-duration) * 3);
}

@media (prefers-reduced-motion: reduce), print {
  .animate__animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
  .animate__animated[class*=Out] {
    opacity: 0;
  }
}
@keyframes bounce {
  0%, 20%, 53%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.animate__bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}
@keyframes flash {
  0%, 50%, to {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.animate__flash {
  animation-name: flash;
}
@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scaleX(1);
  }
}
.animate__pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}
@keyframes rubberBand {
  0% {
    transform: scaleX(1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scaleX(1);
  }
}
.animate__rubberBand {
  animation-name: rubberBand;
}
@keyframes shakeX {
  0%, to {
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
.animate__shakeX {
  animation-name: shakeX;
}
@keyframes shakeY {
  0%, to {
    transform: translateZ(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(0, -10px, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(0, 10px, 0);
  }
}
.animate__shakeY {
  animation-name: shakeY;
}
@keyframes headShake {
  0% {
    transform: translateX(0);
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}
.animate__headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.animate__swing {
  transform-origin: top center;
  animation-name: swing;
}
@keyframes tada {
  0% {
    transform: scaleX(1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
  }
  to {
    transform: scaleX(1);
  }
}
.animate__tada {
  animation-name: tada;
}
@keyframes wobble {
  0% {
    transform: translateZ(0);
  }
  15% {
    transform: translate3d(-25%, 0, 0) rotate(-5deg);
  }
  30% {
    transform: translate3d(20%, 0, 0) rotate(3deg);
  }
  45% {
    transform: translate3d(-15%, 0, 0) rotate(-3deg);
  }
  60% {
    transform: translate3d(10%, 0, 0) rotate(2deg);
  }
  75% {
    transform: translate3d(-5%, 0, 0) rotate(-1deg);
  }
  to {
    transform: translateZ(0);
  }
}
.animate__wobble {
  animation-name: wobble;
}
@keyframes jello {
  0%, 11.1%, to {
    transform: translateZ(0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
.animate__jello {
  animation-name: jello;
  transform-origin: center;
}
@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
.animate__heartBeat {
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-duration: calc(var(--animate-duration) * 1.3);
  animation-timing-function: ease-in-out;
}
@keyframes backInDown {
  0% {
    transform: translateY(-1200px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInDown {
  animation-name: backInDown;
}
@keyframes backInLeft {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInLeft {
  animation-name: backInLeft;
}
@keyframes backInRight {
  0% {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInRight {
  animation-name: backInRight;
}
@keyframes backInUp {
  0% {
    transform: translateY(1200px) scale(0.7);
    opacity: 0.7;
  }
  80% {
    transform: translateY(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.animate__backInUp {
  animation-name: backInUp;
}
@keyframes backOutDown {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateY(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: translateY(700px) scale(0.7);
    opacity: 0.7;
  }
}
.animate__backOutDown {
  animation-name: backOutDown;
}
@keyframes backOutLeft {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }
}
.animate__backOutLeft {
  animation-name: backOutLeft;
}
@keyframes backOutRight {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateX(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: translateX(2000px) scale(0.7);
    opacity: 0.7;
  }
}
.animate__backOutRight {
  animation-name: backOutRight;
}
@keyframes backOutUp {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  20% {
    transform: translateY(0) scale(0.7);
    opacity: 0.7;
  }
  to {
    transform: translateY(-700px) scale(0.7);
    opacity: 0.7;
  }
}
.animate__backOutUp {
  animation-name: backOutUp;
}
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
.animate__bounceIn {
  animation-duration: 0.75s;
  animation-duration: calc(var(--animate-duration) * 0.75);
  animation-name: bounceIn;
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scaleY(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scaleY(0.9);
  }
  75% {
    transform: translate3d(0, -10px, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, 5px, 0) scaleY(0.985);
  }
  to {
    transform: translateZ(0);
  }
}
.animate__bounceInDown {
  animation-name: bounceInDown;
}
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  75% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  90% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  to {
    transform: translateZ(0);
  }
}
.animate__bounceInLeft {
  animation-name: bounceInLeft;
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0) scaleX(3);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0) scaleX(1);
  }
  75% {
    transform: translate3d(10px, 0, 0) scaleX(0.98);
  }
  90% {
    transform: translate3d(-5px, 0, 0) scaleX(0.995);
  }
  to {
    transform: translateZ(0);
  }
}
.animate__bounceInRight {
  animation-name: bounceInRight;
}
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  75% {
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }
  to {
    transform: translateZ(0);
  }
}
.animate__bounceInUp {
  animation-name: bounceInUp;
}
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
.animate__bounceOut {
  animation-duration: 0.75s;
  animation-duration: calc(var(--animate-duration) * 0.75);
  animation-name: bounceOut;
}
@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0) scaleY(0.985);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0) scaleY(3);
  }
}
.animate__bounceOutDown {
  animation-name: bounceOutDown;
}
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0) scaleX(0.9);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0) scaleX(2);
  }
}
.animate__bounceOutLeft {
  animation-name: bounceOutLeft;
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}
.animate__bounceOutRight {
  animation-name: bounceOutRight;
}
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0) scaleY(0.985);
  }
  40%, 45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scaleY(0.9);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0) scaleY(3);
  }
}
.animate__bounceOutUp {
  animation-name: bounceOutUp;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate__fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInDownBig {
  animation-name: fadeInDownBig;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeft {
  animation-name: fadeInLeft;
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInLeftBig {
  animation-name: fadeInLeftBig;
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRight {
  animation-name: fadeInRight;
}
@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInRightBig {
  animation-name: fadeInRightBig;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInUpBig {
  animation-name: fadeInUpBig;
}
@keyframes fadeInTopLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInTopLeft {
  animation-name: fadeInTopLeft;
}
@keyframes fadeInTopRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInTopRight {
  animation-name: fadeInTopRight;
}
@keyframes fadeInBottomLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInBottomLeft {
  animation-name: fadeInBottomLeft;
}
@keyframes fadeInBottomRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__fadeInBottomRight {
  animation-name: fadeInBottomRight;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate__fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
.animate__fadeOutDown {
  animation-name: fadeOutDown;
}
@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.animate__fadeOutDownBig {
  animation-name: fadeOutDownBig;
}
@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
.animate__fadeOutLeft {
  animation-name: fadeOutLeft;
}
@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
.animate__fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}
@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
.animate__fadeOutRight {
  animation-name: fadeOutRight;
}
@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
.animate__fadeOutRightBig {
  animation-name: fadeOutRightBig;
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
.animate__fadeOutUp {
  animation-name: fadeOutUp;
}
@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
.animate__fadeOutUpBig {
  animation-name: fadeOutUpBig;
}
@keyframes fadeOutTopLeft {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
}
.animate__fadeOutTopLeft {
  animation-name: fadeOutTopLeft;
}
@keyframes fadeOutTopRight {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
}
.animate__fadeOutTopRight {
  animation-name: fadeOutTopRight;
}
@keyframes fadeOutBottomRight {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
}
.animate__fadeOutBottomRight {
  animation-name: fadeOutBottomRight;
}
@keyframes fadeOutBottomLeft {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
}
.animate__fadeOutBottomLeft {
  animation-name: fadeOutBottomLeft;
}
@keyframes flip {
  0% {
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(-1turn);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-190deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) scaleX(1) translateZ(150px) rotateY(-170deg);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
    animation-timing-function: ease-in;
  }
  to {
    transform: perspective(400px) scaleX(1) translateZ(0) rotateY(0deg);
    animation-timing-function: ease-in;
  }
}
.animate__animated.animate__flip {
  backface-visibility: visible;
  animation-name: flip;
}
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  to {
    transform: perspective(400px);
  }
}
.animate__flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateY(-5deg);
  }
  to {
    transform: perspective(400px);
  }
}
.animate__flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}
@keyframes flipOutX {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
.animate__flipOutX {
  animation-duration: 0.75s;
  animation-duration: calc(var(--animate-duration) * 0.75);
  animation-name: flipOutX;
  backface-visibility: visible !important;
}
@keyframes flipOutY {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotateY(-15deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}
.animate__flipOutY {
  animation-duration: 0.75s;
  animation-duration: calc(var(--animate-duration) * 0.75);
  backface-visibility: visible !important;
  animation-name: flipOutY;
}
@keyframes lightSpeedInRight {
  0% {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
  }
  to {
    transform: translateZ(0);
  }
}
.animate__lightSpeedInRight {
  animation-name: lightSpeedInRight;
  animation-timing-function: ease-out;
}
@keyframes lightSpeedInLeft {
  0% {
    transform: translate3d(-100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(5deg);
  }
  to {
    transform: translateZ(0);
  }
}
.animate__lightSpeedInLeft {
  animation-name: lightSpeedInLeft;
  animation-timing-function: ease-out;
}
@keyframes lightSpeedOutRight {
  0% {
    opacity: 1;
  }
  to {
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
.animate__lightSpeedOutRight {
  animation-name: lightSpeedOutRight;
  animation-timing-function: ease-in;
}
@keyframes lightSpeedOutLeft {
  0% {
    opacity: 1;
  }
  to {
    transform: translate3d(-100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
}
.animate__lightSpeedOutLeft {
  animation-name: lightSpeedOutLeft;
  animation-timing-function: ease-in;
}
@keyframes rotateIn {
  0% {
    transform: rotate(-200deg);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
.animate__rotateIn {
  animation-name: rotateIn;
  transform-origin: center;
}
@keyframes rotateInDownLeft {
  0% {
    transform: rotate(-45deg);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
.animate__rotateInDownLeft {
  animation-name: rotateInDownLeft;
  transform-origin: left bottom;
}
@keyframes rotateInDownRight {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
.animate__rotateInDownRight {
  animation-name: rotateInDownRight;
  transform-origin: right bottom;
}
@keyframes rotateInUpLeft {
  0% {
    transform: rotate(45deg);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
.animate__rotateInUpLeft {
  animation-name: rotateInUpLeft;
  transform-origin: left bottom;
}
@keyframes rotateInUpRight {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
  }
}
.animate__rotateInUpRight {
  animation-name: rotateInUpRight;
  transform-origin: right bottom;
}
@keyframes rotateOut {
  0% {
    opacity: 1;
  }
  to {
    transform: rotate(200deg);
    opacity: 0;
  }
}
.animate__rotateOut {
  animation-name: rotateOut;
  transform-origin: center;
}
@keyframes rotateOutDownLeft {
  0% {
    opacity: 1;
  }
  to {
    transform: rotate(45deg);
    opacity: 0;
  }
}
.animate__rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
  transform-origin: left bottom;
}
@keyframes rotateOutDownRight {
  0% {
    opacity: 1;
  }
  to {
    transform: rotate(-45deg);
    opacity: 0;
  }
}
.animate__rotateOutDownRight {
  animation-name: rotateOutDownRight;
  transform-origin: right bottom;
}
@keyframes rotateOutUpLeft {
  0% {
    opacity: 1;
  }
  to {
    transform: rotate(-45deg);
    opacity: 0;
  }
}
.animate__rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
  transform-origin: left bottom;
}
@keyframes rotateOutUpRight {
  0% {
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 0;
  }
}
.animate__rotateOutUpRight {
  animation-name: rotateOutUpRight;
  transform-origin: right bottom;
}
@keyframes hinge {
  0% {
    animation-timing-function: ease-in-out;
  }
  20%, 60% {
    transform: rotate(80deg);
    animation-timing-function: ease-in-out;
  }
  40%, 80% {
    transform: rotate(60deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}
.animate__hinge {
  animation-duration: 2s;
  animation-duration: calc(var(--animate-duration) * 2);
  animation-name: hinge;
  transform-origin: top left;
}
@keyframes jackInTheBox {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }
  50% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate__jackInTheBox {
  animation-name: jackInTheBox;
}
@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate(-120deg);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.animate__rollIn {
  animation-name: rollIn;
}
@keyframes rollOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate(120deg);
  }
}
.animate__rollOut {
  animation-name: rollOut;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.animate__zoomIn {
  animation-name: zoomIn;
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.animate__zoomInDown {
  animation-name: zoomInDown;
}
@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.animate__zoomInLeft {
  animation-name: zoomInLeft;
}
@keyframes zoomInRight {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.animate__zoomInRight {
  animation-name: zoomInRight;
}
@keyframes zoomInUp {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.animate__zoomInUp {
  animation-name: zoomInUp;
}
@keyframes zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.animate__zoomOut {
  animation-name: zoomOut;
}
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.animate__zoomOutDown {
  animation-name: zoomOutDown;
  transform-origin: center bottom;
}
@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
  }
}
.animate__zoomOutLeft {
  animation-name: zoomOutLeft;
  transform-origin: left center;
}
@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
  }
}
.animate__zoomOutRight {
  animation-name: zoomOutRight;
  transform-origin: right center;
}
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.animate__zoomOutUp {
  animation-name: zoomOutUp;
  transform-origin: center bottom;
}
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.animate__slideInDown {
  animation-name: slideInDown;
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.animate__slideInLeft {
  animation-name: slideInLeft;
}
@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.animate__slideInRight {
  animation-name: slideInRight;
}
@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.animate__slideInUp {
  animation-name: slideInUp;
}
@keyframes slideOutDown {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}
.animate__slideOutDown {
  animation-name: slideOutDown;
}
@keyframes slideOutLeft {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}
.animate__slideOutLeft {
  animation-name: slideOutLeft;
}
@keyframes slideOutRight {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}
.animate__slideOutRight {
  animation-name: slideOutRight;
}
@keyframes slideOutUp {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
.animate__slideOutUp {
  animation-name: slideOutUp;
}

:root {
  --font-family: "Open Sans", sans-serif;
  --second-family: "Urbanist", sans-serif;
  --third-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  color: #2c3336;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-direction: column;
  background: #fff;
  font-family: var(--font-family);
}

.fancybox__container {
  --fancybox-color: #333;
  --fancybox-bg: #fff;
  --f-spinner-color-1: rgba(0, 0, 0, 0.1);
  --f-spinner-color-2: rgba(17, 24, 28, 0.8);
}

.fancybox__nav {
  --f-button-next-pos: 12px;
  --f-button-prev-pos: 12px;
  --f-button-width: 48px;
  --f-button-height: 48px;
  --f-button-color: #333;
  --f-button-hover-color: #333;
  --f-button-bg: #e5e7eb;
  --f-button-hover-bg: #e5e7eb;
  --f-button-active-bg: #e5e7eb;
  --f-button-svg-height: 20px;
  --f-button-svg-width: 20px;
  --f-button-svg-stroke-width: 3;
  --f-button-svg-filter: none;
}

.fancybox__toolbar {
  --f-button-color: #0d0c22;
  --f-button-hover-color: #0d0c22;
  --f-button-bg: transparent;
  --f-button-hover-bg: transparent;
  --f-button-active-bg: transparent;
  --f-button-svg-stroke-width: 1.5;
  --f-button-svg-filter: none;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
  text-shadow: none;
}

.fancybox__slide {
  padding: 12px 0px;
}

.fancybox__thumbs.is-classic {
  --f-thumb-opacity: 1;
  --f-thumb-hover-opacity: 1;
  --f-thumb-selected-opacity: 1;
  --f-thumb-width: 68px;
  --f-thumb-height: 68px;
  --f-thumb-gap: 12px;
  --f-thumb-offset: 5px;
  --f-thumb-outline: 0;
}

.fancybox__thumbs.is-classic .f-thumbs__slide {
  border: 1px solid #d1d5db;
  border-radius: 4px;
  transition: all 0.2s;
}

.fancybox__thumbs.is-classic .f-thumbs__slide:hover,
.fancybox__thumbs.is-classic .f-thumbs__slide.is-nav-selected {
  border: 1px solid #920606;
}

/*end fixed footer*/
.container {
  margin: 0 auto;
  width: 1180px;
}

.btn {
  display: inline-flex;
  height: 70px;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #fff;
  transition: all 0.2s ease-in-out;
  background: #920606;
  border: 0;
  cursor: pointer;
}
.btn:hover, .btn:focus, .btn:active {
  background: #7F0505;
}

.wow {
  visibility: hidden;
}

.faq {
  padding-bottom: 120px;
}

.faq_price {
  padding-bottom: 0;
}
.faq_price .accordion {
  font-size: 32px;
  font-weight: 400;
}

.accordion {
  cursor: pointer;
  padding: 36px 36px 36px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 700;
  background: transparent;
  border-bottom: 1px solid #2c3336;
  margin-bottom: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
  color: #2c3336;
}
.accordion span {
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 46px;
  height: 46px;
  background: #920606;
  right: 0;
  top: 30px;
}
.accordion span:before, .accordion span:after {
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  background: #fff;
  border-radius: 3px;
}
.accordion span:before {
  width: 24px;
  height: 3px;
  top: 22px;
  right: 11px;
}
.accordion span:after {
  height: 24px;
  width: 3px;
  top: 11px;
  right: 21px;
}
.accordion.active {
  border-bottom: 0;
}
.accordion.active span:after {
  opacity: 0;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding: 0;
  border-bottom: 1px solid transparent;
}
.panel ul {
  padding-left: 48px;
  margin-bottom: 16px;
}
.panel ul li {
  margin-bottom: 12px;
  list-style-type: disc;
  list-style-position: outside;
}
.panel ol {
  padding-left: 48px;
  margin: 0;
}
.panel ol li {
  margin-bottom: 12px;
  list-style-position: outside;
}
.panel.active {
  padding: 0 0 36px;
  border-color: #2c3336;
}
.panel.active p:last-child,
.panel.active li:last-child {
  margin-bottom: 0;
}
.panel a {
  text-decoration: underline;
}
.panel a:hover {
  text-decoration: none;
}

.form {
  background: url(../img/bg.jpg) no-repeat center center/cover;
}
.form .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .form__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  width: 738px;
  margin-bottom: 24px;
}
.form .form__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #2c3336;
  margin-bottom: 48px;
}
.form__wrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 526px;
}
.form__wrap input {
  display: block;
  margin-bottom: 18px;
  width: 100%;
  height: 82px;
  background: #fff;
  border: 0;
  padding: 0 40px;
  font-size: 18px;
}
.form__wrap input::-moz-placeholder {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: rgba(44, 51, 54, 0.5);
}
.form__wrap input::placeholder {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: rgba(44, 51, 54, 0.5);
}
.form__wrap .btn {
  height: 82px;
  margin-top: 38px;
}

.article {
  padding: 106px 0;
}

.intro {
  position: relative;
  display: flex;
  height: 900px;
  justify-content: space-between;
  gap: 40px;
  background: url(../img/intro.jpg) no-repeat center top/cover;
  align-items: stretch;
  padding: 0;
}
.intro__desc {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 550px;
}
.intro__desc p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  color: #000;
  margin-bottom: 37px;
}
.intro .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: visible;
}
.intro .container:after {
  content: "";
  display: block;
  position: absolute;
  height: 1100px;
  width: 1400px;
  background: url(../img/ellipse_old.png) no-repeat left center/contain;
  top: -100px;
  left: calc(100% - 700px);
}

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: #920606;
  margin-bottom: 52px;
}

.subtitle {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
  color: #7b1b14;
  margin-bottom: 18px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;
}
.about__desc {
  flex: 1 0 540px;
}
.about__text {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 22px;
}
.about__list {
  padding: 0;
  margin: 0;
}
.about__list li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 111%;
  margin-bottom: 16px;
  padding-left: 16px;
  position: relative;
}
.about__list li:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  background: #920606;
  top: 8px;
  left: 0px;
  border-radius: 30px;
}
.about__list li:last-child {
  margin-bottom: 0;
}
.about__pic {
  width: 100%;
}

.online {
  background: #f7f7f7;
  gap: 70px;
}
.online .container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
}
.online .subtitle {
  margin-bottom: 60px;
}
.online__pic {
  position: absolute;
  height: calc(100% + 212px);
  bottom: -106px;
  left: 0;
}
.online__desc {
  flex: 0 0 680px;
}
.online__list {
  display: grid;
  grid-template: auto auto/1fr 1fr;
  gap: 40px;
}
.online__list li {
  padding-top: 68px;
  background: url(../img/star.svg) left top no-repeat;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 21px;
}

.client .title {
  text-align: center;
}
.client__wrap {
  position: relative;
}
.client .swiper-container {
  width: 1060px;
  height: auto;
}
.client .swiper-button {
  background: none;
  display: flex;
  align-items: center;
}
.client .swiper-button svg {
  width: 40px;
  height: 40px;
  fill: transparent;
  stroke: #2c3336;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: all 0.15s ease;
  transform: var(--f-button-transform);
  filter: var(--f-button-svg-filter);
  pointer-events: none;
  opacity: 0.6;
}
.client .swiper-button:hover svg {
  stroke: #000;
  opacity: 1;
}
.client .swiper-button-prev {
  transform: rotate(180deg);
  left: 0;
}
.client .swiper-button-next {
  right: 0;
}
.client .swiper-button-disabled {
  opacity: 0;
}
.client .swiper-slide {
  cursor: pointer;
}
.client .swiper-slide img {
  transition: all 0.2s;
  border: 1px solid transparent;
}
.client .swiper-slide img:hover {
  border-color: #920606;
  border-radius: 4px;
}

.how__list {
  display: flex;
  flex-direction: column;
}
.how__list li {
  padding: 22px 0;
  position: relative;
  border-top: 1px solid #920606;
  display: flex;
  align-items: center;
}
.how__list li span {
  min-width: 60px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  height: 56px;
  line-height: 1;
  display: flex;
  align-content: center;
  text-transform: uppercase;
  color: rgba(44, 51, 54, 0.61);
}
.how__list li:last-child {
  margin-bottom: 0;
  border-bottom: 1px solid #920606;
}

.get {
  background: #f7f7f7;
}
.get .container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.get__desc {
  flex: 0 0 480px;
}
.get__list li {
  margin-bottom: 30px;
  padding-left: 60px;
  background: url(../img/ok.svg) left center no-repeat;
}
.get__list li:last-child {
  margin-bottom: 0;
}
.get__pic {
  position: absolute;
  height: calc(100% + 212px);
  bottom: -106px;
  right: 0;
}

.comment {
  padding-bottom: 76px;
}
.comment .title {
  text-align: center;
}
.comment .swiper-container {
  width: 1060px;
  height: 500px;
  padding: 30px 0;
}
.comment .swiper-slide {
  background: #deb3b3;
}
.comment .swiper-slide .comment__pic, .comment .swiper-slide .comment__text, .comment .swiper-slide .comment__name {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}
.comment .swiper-slide-active {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  background: #fff;
}
.comment .swiper-slide-active .comment__pic, .comment .swiper-slide-active .comment__text, .comment .swiper-slide-active .comment__name {
  opacity: 1;
}
.comment .swiper-slide-shadow-left, .comment .swiper-slide-shadow-right {
  background: transparent;
}
.comment__item {
  display: flex;
  flex-direction: column;
  padding: 36px;
}
.comment__pic {
  width: 96px;
  min-width: 96px;
  height: 96px;
  min-height: 96px;
  border-radius: 50%;
  margin-bottom: 22px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  background: #f7f7f7;
}
.comment__pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.comment__text {
  font-size: 16px;
  padding-bottom: 38px;
  border-bottom: 1px solid #e3e3e3;
  flex: 1 0 auto;
}
.comment__name {
  padding-top: 30px;
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 22px;
}

.tarif {
  padding-top: 0;
}
.tarif .title {
  text-align: center;
}
.tarif__wrap {
  display: flex;
  gap: 20px;
  width: 1060px;
  margin: 0 auto;
}
.tarif__el {
  width: 50%;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.01);
  background: #f7f7f7;
  padding: 52px 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.tarif__name {
  margin-bottom: 34px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
}
.tarif__desc {
  margin-bottom: 96px;
}
.tarif__cost {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  color: #920606;
}
.tarif__label {
  position: absolute;
  width: 130px;
  height: 130px;
  background: #920606;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  right: -60px;
  top: -60px;
}

.contact {
  background: #f7f7f7;
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .title {
  text-align: center;
}
.contact__tel {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #2c3336;
  margin-bottom: 32px;
  transition: all 0.2s ease-in-out;
}
.contact__tel:hover {
  color: #920606;
}
.contact__mail {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 26px;
  text-decoration: underline;
  text-align: center;
  color: #000;
  margin-bottom: 52px;
}
.contact__mail:hover {
  text-decoration: none;
}

.soclist {
  display: flex;
  gap: 16px;
}
.soclist__soc {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.soclist__soc:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=main.css.map */