@import '_var';
@import '_help';
@import '_slick';
@import '_slick-theme';
@import '_animate';

:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "Urbanist", sans-serif;
    --third-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: #2c3336;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #fff;
    font-family: var(--font-family);
}



.fancybox__container {
    --fancybox-color: #333;
    --fancybox-bg: #fff;

    --f-spinner-color-1: rgba(0, 0, 0, 0.1);
    --f-spinner-color-2: rgba(17, 24, 28, 0.8);
}

.fancybox__nav {
    --f-button-next-pos: 12px;
    --f-button-prev-pos: 12px;

    --f-button-width: 48px;
    --f-button-height: 48px;

    --f-button-color: #333;
    --f-button-hover-color: #333;

    --f-button-bg: #e5e7eb;
    --f-button-hover-bg: #e5e7eb;
    --f-button-active-bg: #e5e7eb;

    --f-button-svg-height: 20px;
    --f-button-svg-width: 20px;

    --f-button-svg-stroke-width: 3;
    --f-button-svg-filter: none;
}

.fancybox__toolbar {
    --f-button-color: #0d0c22;
    --f-button-hover-color: #0d0c22;

    --f-button-bg: transparent;
    --f-button-hover-bg: transparent;
    --f-button-active-bg: transparent;

    --f-button-svg-stroke-width: 1.5;
    --f-button-svg-filter: none;

    background: #fff;
    border-bottom: 1px solid #e5e7eb;
    text-shadow: none;
}

.fancybox__slide {
    padding: 12px 0px;
}

.fancybox__thumbs.is-classic {
    --f-thumb-opacity: 1;
    --f-thumb-hover-opacity: 1;
    --f-thumb-selected-opacity: 1;

    --f-thumb-width: 68px;
    --f-thumb-height: 68px;
    --f-thumb-gap: 12px;
    --f-thumb-offset: 5px;
    --f-thumb-outline: 0;
}

.fancybox__thumbs.is-classic .f-thumbs__slide {
    border: 1px solid #d1d5db;
    border-radius: 4px;
    transition: all 0.2s;
}

.fancybox__thumbs.is-classic .f-thumbs__slide:hover,
.fancybox__thumbs.is-classic .f-thumbs__slide.is-nav-selected {
    border: 1px solid #920606;
}




/*end fixed footer*/
.container {
    margin: 0 auto;
    width: 1180px;
}


.btn {
    display: inline-flex;
    height: 70px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: $transition;
    background: #920606;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus,
    //&:visited,
    &:active {
        background: #7F0505;
    }
}



.wow {
    visibility: hidden;
}


.faq {
    padding-bottom: 120px;
}

.faq_price {
    padding-bottom: 0;

    .accordion {
        font-size: 32px;
        font-weight: 400;
    }
}

.accordion {
    cursor: pointer;
    padding: 36px 36px 36px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 700;
    background: transparent;
    border-bottom: 1px solid #2c3336;
    margin-bottom: 0;
    transition: $transition;
    position: relative;
    color: #2c3336;
    span {
        display: block;
        position: absolute;
        border-radius: 100%;
        width: 46px;
        height: 46px;
        background: #920606;
        right: 0;
        top: 30px;
        &:before,
        &:after {
            content: "";
            position: absolute;
            transition: $transition;
            background: #fff;
            border-radius: 3px;
        }
        &:before {
            width: 24px;
            height: 3px;
            top: 22px;
            right: 11px;
        }
        &:after {
            height: 24px;
            width: 3px;
            top: 11px;
            right: 21px;
        }
    }
    &.active {
        border-bottom: 0;
        span{
            &:after {
                opacity: 0;
            }
        }
        
    }
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: $transition;
    padding: 0;
    border-bottom: 1px solid transparent;
    ul {
        padding-left: 48px;
        margin-bottom: 16px;
        li {
            margin-bottom: 12px;
            list-style-type: disc;
            list-style-position: outside;
        }
    }
    ol {
        padding-left: 48px;
        margin: 0;
        li {
            margin-bottom: 12px;
            list-style-position: outside;
        }
    }
    &.active {
        padding: 0 0 36px;
        border-color: #2c3336;
        p,
        li {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.form {
    background: url(../img/bg.jpg) no-repeat center center / cover;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .form__title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        width: 738px;
        margin-bottom: 24px;
    }
    .form__text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        color: #2c3336;
        margin-bottom: 48px;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 526px;
        input {
            display: block;
            margin-bottom: 18px;
            width: 100%;
            height: 82px;
            background: #fff;
            border: 0;
            padding: 0 40px;
            font-size: 18px;
            &::placeholder {
                font-family: var(--second-family);
                font-weight: 600;
                font-size: 20px;
                color: rgba(44, 51, 54, 0.5);
                //opacity: 1;
            }
        }
        .btn{
            height: 82px;
            margin-top: 38px;
        }
    }
}
.article {
    padding: 106px 0;
}
.intro {
    position: relative;
    display: flex;
    height: 900px;
    justify-content: space-between;
    gap: 40px;
    background: url(../img/intro.jpg) no-repeat center top / cover;
    align-items: stretch;
    padding: 0;
    &__desc {
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 550px;
        p{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 22px;
            color: #000;
            margin-bottom: 37px;
        }
        
    }
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        overflow: visible;
        &:after{
            content: '';
            display: block;
            position: absolute;
            height: 1100px;
            width: 1400px;
            background: url(../img/ellipse_old.png) no-repeat left center / contain;
            top: -100px;
            left: calc(100% - 700px);
        }
    }
}

.animate {
    &__animated {}
    &__fadeIn {}
}
.title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    color: #920606;
    margin-bottom: 52px;
}
.subtitle {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    color: #7b1b14;
    margin-bottom: 18px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 70px;
    &__desc {
        //width: 540px;
        flex: 1 0 540px;
    }
    &__text {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 22px;
    }
    &__list {
        padding: 0;
        margin: 0;
        
        li{
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 111%;
            margin-bottom: 16px;
            padding-left: 16px;
            position: relative;
            &:after{
                content: '';
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                background: #920606;
                top: 8px;
                left: 0px;
                border-radius: 30px;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__pic {
        width: 100%;
    }
}
.online {
    background: #f7f7f7;
    gap: 70px;
    .container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
    }
    .subtitle{
        margin-bottom: 60px;
    }
    &__pic {
        position: absolute;
        height: calc(100% + 212px);
        bottom: -106px;
        left: 0;
    }
    &__desc {
        flex: 0 0 680px;
    }
    &__list {
        display: grid;
        grid-template: auto auto / 1fr 1fr;
        gap: 40px;
        li{
            padding-top: 68px;
            background: url(../img/star.svg) left top no-repeat;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 21px;
        }
    }
}
.client {
    .title {
        text-align: center;
    }
    &__wrap{
        position: relative;
    }
    .swiper-container {
        width: 1060px;
        height: auto;
    }
    .swiper-wrapper {
    }
    .swiper-slide {
    }
    .swiper-pagination {
    }
    .swiper-button{
        background: none;
        display: flex;
        align-items: center;
        svg{
            width: 40px;
            height: 40px;;
            fill: transparent;
            stroke: $black;
            stroke-width: 3;
            stroke-linecap: round;
            stroke-linejoin: round;
            transition: all .15s ease;
            transform: var(--f-button-transform);
            filter: var(--f-button-svg-filter);
            pointer-events: none;
            opacity: .6;
        }
        &:hover{
            svg{
                stroke: #000;
                opacity: 1;
            }
        }
    }
    .swiper-button-prev {
        transform: rotate(180deg);
        left: 0;
    }
    .swiper-button-next {
        right: 0;
    }
    .swiper-button-disabled{
        opacity: 0;
    }
    .swiper-slide {
        cursor: pointer;
        img{
            transition: all 0.2s;
            border: 1px solid transparent;
            &:hover{
                border-color: #920606;
                border-radius: 4px;
            }
        }
    }
}

.how {
    &__list {
        display: flex;
        flex-direction: column;
        li{
            padding: 22px 0;
            position: relative;
            border-top: 1px solid #920606;
            display: flex;
            align-items: center;
            span{
                min-width: 60px;
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 56px;
                height: 56px; 
                line-height: 1; 
                display: flex;  
                align-content: center;
                text-transform: uppercase;
                color: rgba(44, 51, 54, 0.61);
            }
            &:last-child{
                margin-bottom: 0;
                border-bottom: 1px solid #920606;
            }
        }
    }
}
.get {
    background: #f7f7f7;
    .container{
        display: flex;
        justify-content: flex-start;
        position: relative;
    }
    &__desc {
        flex: 0 0 480px;
    }
    &__list {
        li{
            margin-bottom: 30px;
            padding-left: 60px;
            background: url(../img/ok.svg) left center no-repeat;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__pic {
        position: absolute;
        height: calc(100% + 212px);
        bottom: -106px;
        right: 0;
    }
}
.comment {
    padding-bottom: 76px;
    .title {
        text-align: center;
    }
    .swiper-container {
        width: 1060px;
        height: 500px;
        padding: 30px 0;
    }
    .swiper-wrapper {
    }
    .swiper-slide {
        background: #deb3b3;
        .comment__pic, .comment__text, .comment__name{
            opacity: .5;
            transition: $transition;
        }
        &-active{
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
            background: #fff;
            .comment__pic, .comment__text, .comment__name{
                opacity: 1;
            }
        }
    }
    .swiper-pagination {
    }
    .swiper-button-prev {
    }
    .swiper-button-next {
    }
    .swiper-slide-shadow-left, .swiper-slide-shadow-right{
        background: transparent;
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 36px;
    }
    &__pic {
        width: 96px;
        min-width: 96px;
        height: 96px;
        min-height: 96px;
        border-radius: 50%;
        margin-bottom: 22px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 32px;
        text-transform: uppercase;
        background: #f7f7f7;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__text {
        font-size: 16px;
        padding-bottom: 38px;
        border-bottom: 1px solid #e3e3e3;
        flex: 1 0 auto;
    }
    &__name {
        padding-top: 30px;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 22px;
    }
}
.tarif {
    padding-top: 0;
    .title {
        text-align: center;
    }
    &__wrap {
        display: flex;
        gap: 20px;
        width: 1060px;
        margin: 0 auto;
    }
    &__el {
        width: calc(50%);
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.01);
        background: #f7f7f7;
        padding: 52px 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    }
    &__info {}
    &__name {
        margin-bottom: 34px;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 34px;
        text-transform: uppercase;
    }
    &__desc {
        margin-bottom: 96px;
    }
    &__cost {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 56px;
        text-transform: uppercase;
        color: #920606;
    }
    &__label {
        position: absolute;
        width: 130px;
        height: 130px;
        background: #920606;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color: #fff;
        right: -60px;
        top: -60px;
    }
}
.contact {
    background: #f7f7f7;
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        text-align: center;
    }
    &__tel {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: #2c3336;
        margin-bottom: 32px;
        transition: $transition;
        &:hover{
            color: #920606;
        }
    }
    &__mail {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 26px;
        text-decoration: underline;
        text-align: center;
        color: #000;
        margin-bottom: 52px;
        &:hover{
            text-decoration: none;
        }
    }
}
.soclist {
    display: flex;
    gap: 16px;
    &__soc {
        width: 68px;
        height: 68px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $transition;
        &:hover {
            transform: scale(1.1)
        }
    }
}




















@import '_query';